<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<br>
<h3>This post has these categories:</h3>
  <ul>
    <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
    <% end %>
  </ul>

<h3>Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
  <li><%= comment.user.username %> says: <%= comment.content %></li>
  <% end %>
</ul>
